@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.h1Login {
  width: 195px;
  height: 63px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 58px;
  color: #333333;
  margin-bottom: 21px;
}

.logoLogin {
  width: 125px;
  height: 125px;
}

.mainLogin {
  display: flex;
  justify-content: center;
}

.containerLogin {
  display: flex;
  flex-direction: column;
}

.pLogin {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  padding-top: 40px;
  padding-bottom: 15px;
}

.inputBoxLogin {
  width: 236px;
  height: 51px;
  background: #ffffff;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  padding: 15px;
}

.logInButton {
  width: 236px;
  height: 53px;
  background: #57b846;
  box-shadow: 0px 10px 10px rgba(87, 184, 70, 0.25);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.formLogin {
  display: flex;
  flex-direction: column;
}

/* to disable focus border */
*:focus {
  outline: none;
}

.loginPageError {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  color: red;
}
